*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Laborator2/nbproject/private/
/Laborator2/Animale/nbproject/private/
/Laborator2/Animale/build/
/Animale1/nbproject/private/
/Animale1/build/
/Laborator2/Animale1/nbproject/private/
/Laborator2/Situatii/nbproject/private/
/Laborator2/Situatii/build/
/Laborator3/SituatiiNou/nbproject/private/
/Laborator3/SituatiiNou/build/
/Laborator3/GreutateFx/nbproject/private/
/Laborator4/GreutateFx/nbproject/private/
/Laborator4/GreutateFx/build/
/Laborator4/GreutateFx/dist/
/Laborator4/Greu/nbproject/private/
/Laborator4/Greu/build/
/Laborator4/Greu/dist/
/Laborator4/Greuxml/nbproject/private/
/Laborator4/Greuxml/build/
/Laborator4/Greuxml/dist/
/Laborator4/GreutateFXML/nbproject/private/
/Laborator4/GreutateFXML/dist/
/Laborator4/GreutateFXML/build/
/Laborator5/JavaFXApplication7/nbproject/private/
/Laborator5/JavaFXApplication7/build
/Laborator5/GreutateFXML/nbproject/private/
/Laborator5/GreutateFXML/build/
/Laborator5/GreutateFXML/dist/
/Laborator5/Zodie/nbproject/private/
/Laborator5/Zodie/build/
/Laborator5/Zodie/dist/
/Laborator5/TvaFXML/nbproject/private/
/Laborator5/TvaFXML/build/
/Laborator5/TvaFXML/dist/
/Laborator6/ConvertorFxml/nbproject/private/
/Laborator6/ConvertorFxml/build/
/Laborator6/ConvertorFxml/dist/
/Laborator6/Judete/nbproject/private/
/Laborator6/Judete/dist/
/Laborator6/Judete/build/
/Laborator6/WebViewBrowser/nbproject/private/
/Laborator6/WebViewBrowser/build/
/Laborator6/WebViewBrowser/dist/
/Laborator6/StopWatch/nbproject/private/
/Laborator6/StopWatch/dist/
/Laborator6/StopWatch/build/
/Laborator6/DisplayShelf/nbproject/private/
/Laborator6/DisplayShelf/build/
/Laborator6/DisplayShelf/dist/
/Laborator6/PaginationDemo/nbproject/private/
/Laborator6/PaginationDemo/dist/
/Laborator6/PaginationDemo/build/
/Laborator6/Xylophone/nbproject/private/
/Laborator6/Xylophone/build/
/Laborator6/Xylophone/dist/
/Curs7/JavaFXApplication14/nbproject/private/
/Curs7/Colab/nbproject/private/
/Curs7/Colab/build/
/Curs7/Colab/dist/
/Curs8/Clienti/nbproject/private/
/Curs8/Clienti/build/
/Curs8/Clienti/dist/
/Laborator9/Restaurant/nbproject/private/
/Laborator9/ATM/nbproject/private/
/Laborator9/ATM/build/
/Laborator9/ATM/dist/
/Laborator9/Excursie/nbproject/private/
/Laborator9/Excursie/build/
/Laborator9/Excursie/dist/
/Laborator9/ProiectJava/nbproject/private/
/Laborator9/ProiectJava/build/
/Laborator9/ProiectJava/dist/
/Laborator9/PhpProject1/nbproject/private/